{% extends 'layout.html' %}
{% block content %}
  <h2 class="mb-4">Accepted Trade Details</h2>

  <div class="row">
    <div class="col-md-6 mb-4 text-center">
      <h5 class="mb-2">You're Receiving</h5>
      <img src="{{ trade.lid.img.url }}" alt="{{ trade.lid.item_name }}" style="max-height: 180px; object-fit: contain;">
      <p class="mt-2"><strong>{{ trade.lid.item_name }}</strong><br>Quantity: {{ trade.lamount }}</p>
    </div>

    <div class="col-md-6 mb-4 text-center">
      <h5 class="mb-2">You're Giving</h5>
      <img src="{{ trade.oid.img.url }}" alt="{{ trade.oid.item_name }}" style="max-height: 180px; object-fit: contain;">
      <p class="mt-2"><strong>{{ trade.oid.item_name }}</strong><br>Quantity: {{ trade.oamount }}</p>
    </div>
  </div>

  <div class="text-center">
    <p><strong>Trade Accepted On:</strong> {{ trade.completed_at|date:"F j, Y, g:i a" }}</p>
	{% if complete %}
	<h3> Both Parties Have Verified the Trade</h3>
	<p> Both parties have agreed to send in their items to the processing center. You will receive your item after both have arrived and been verified. </p>
	{% elif ver %}
	<h3> Awaiting Verification from the Other Party </h3>
	<p> Both users who are sending the items need to input their hash codes in order to finalize the trade </p>
	{% else %}
	<h3> Awaiting Verification from Both Parties </h3>
	<p> Both users who are sending the items need to input their hash codes in order to finalize the trade </p>
	{% endif %}
  </div>
  {% if hashkey %}
  <div class="container" style="margin-top:30px; margin-left:50px; margin-bottom:100px;">
  <h4> Your hash code: {{hashkey}} </h4>
  <form method="post">
	{% csrf_token %}
	Insert hash code to verify:
	{{ form.hashver }}
	<button type="submit">Submit</button>
  </form>
  </div>
  {% endif %}
{% endblock %}