{% extends 'layout.html' %}

{% block content %}
    {% if latest_posts %}
    <div class="container">
        <div class="row align-items-end">
        {% for posts in latest_posts %}
                <div class="col-4">
                <img src="{{ posts.img.url }}" class= "card-img-bottom" alt = "{{ posts.item_name}}"/>
                <p> {{ posts.item_name }} </p>
            </div>
        {% endfor %}
        </div>
    </div>
    
    {% else %}
        <p>No listings are available.</p>
    {% endif %}
{% endblock %}