{% extends 'layout.html' %}

{% block content %}
    {% if latest_posts %}
    <ul>
        {% for posts in latest_posts %}
            <li><a href="/listings/{{post.id}}/">{{posts.item_name}}</a></li>
            <section>
                <img src="{{ posts.img.url }}"
                alt = "{{ posts.item_name}}"
                />
                <p> {{ posts.item_name }} </p>

            </section>
        {% endfor %}
    </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock %}