<!DOCTYPE html>
<html>

    <style>

    </style>
<head>

</head>

<body>
    <div style="background-color: lightgray; width: 100%;">
    <table style="margin-left: auto; margin-right: auto; width: 75%; text-align: center;">
        <tr>
            <td>
                <a href="/admin/">Admin</a>
            </td>
            <td>
                <a href="/listings/">Listings</a>
            </td>
        </tr>
    </table>
    </div>




    {% if latest_questions %}
        <ul>
            {% for question in latest_questions %}
                <li><a href="/listings/{{question.id}}/">{{question.question_text}}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No polls are available.</p>
        {% endif %}


</body>
</html>