{% extends 'layout.html' %}

{%block content %}
	{% if post %}
	<br>
	<br>
	<!-- Add links to descriptor pages from each picture once they exist -->
		<div class="container" style="border: 2px solid white;">
			<div class="row">

			<div class="col-6">
				<img src="{{ post.img.url }}" class= "card-img-bottom" alt = "{{ post.item_name}}"/>
				</div>
			<div class="col-6" style="padding-top: 150pt;"> 
				<p>Title: {{ post.item_name }} </p>
				<p>Description: {{ post.item_desc }}</p>
				<p>Published Date {{ post.pub_date }}</p>
				<script>
					function show() {
						document.getElementById('OfferForm').style.display = 'block';
					}
				</script>
				<button onclick="show()"> Make an offer: </button>
				<form method="post" id="OfferForm" style="display:none;">
					{% csrf_token %}
					{% for f in form %}
					<div class="form-group">
						{{ f.label_tag }}
						{{ f }}
					{% endfor %}
					</div>
					<button type="submit" value="Submit"> Submit Offer </button>
				</form>
			</div>		
			</div>

		</div>
	{% endif %}
{% endblock %}

