{% extends 'layout.html' %}

{%block content %}
	{% if post %}
	<!-- Add links to descriptor pages from each picture once they exist -->
		<div class="container">
			<div class="row">
			{% for p in post %}
			<div class="col-4">
				<img src="{{ p.img.url }}" class= "card-img-bottom" alt = "{{ post.item_name}}"/>
				</div>
			<div class="col-6" style="padding-top: 150pt;"> 
				<p>Title: {{ p.item_name }} </p>
				<p>Description: {{ p.item_desc }}</p>
				<p>Published Date {{ p.pub_date }}</p>
				<script>
					function show() {
						document.getElementById('OfferForm').style.display = 'block';
					}
				</script>

				<button onclick="show()"> Make an offer: </button>
				<form method="post" id="OfferForm" style="display:none;">
					{% csrf_token %}
					<table style="width:100%;">
					{{ form.as_p }}
					</table>
					<button type="submit" value="Submit"> Submit Offer </button>
				</form>
			</div>		
			</div>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}

