{% extends 'layout.html' %}

{%block content %}

    <div class="container">
      <div class="row align-items-stretch">
        <div class="col-12">
            <br>
          <h2><a href="/listings/form" style="background-color:darkgoldenrod; font-weight:bold;">Add New Listing +</a><h2>
            <br>
        </div>
        
    {% if user_posts %}
          {% for posts in user_posts %}
            <div class="col-4 mb-4">
              <div class="border p-3 d-flex flex-column h-100">
                <a href="{{ posts.id }}/details" class="flex-grow-1">
                  <div class="image-container d-flex justify-content-center" style="height: 200px; background-color: white; overflow: hidden;">
                    <img src="{{ posts.img.url }}" class= "card-img-bottom" alt = "{{ posts.item_name}}" style="max-width: 100%; height: 100%; object-fit: contain;"/>
                  </div>
                </a>
                <p class="test-center mt-2 mb-0"> {{ posts.item_name }}, Posted by: {{ posts.user.username }}</p>
            </div>
            </div>
          
          {% endfor %}
    {% endif %}
  </div>
  <br><br>
  <h2><a style="font-weight:bold;">Pending Trades</a><h2>
  <div class="row">
	{% for p in pending %}
		<div class="col-4 mb-4">
      <div class="border p-3 d-flex flex-column h-100">
        <a href="{{ p.id }}/offer" class="flex-grow-1">
          <div class="image-container d-flex justify-content-center" style="height: 200px; background-color: white; overflow: hidden;">
            <img src="{{ p.img.url }}" class= "card-img-bottom" alt = "{{ p.item_name}}" style="max-width: 100%; height: 100%; object-fit: contain;"/>
          </div>
        </a>
        <p class="test-center mt-2 mb-0"> {{ p.item_name }} </p>
      </div>
    </div>
	{% endfor %}
  </div>
</div>
{% endblock %}