{% extends 'layout.html' %}

{% block content %}
	{% if post %}
	<br>
	<br>
	<!-- Add links to descriptor pages from each picture once they exist -->
		<div class="container" style="border: 2px solid white;">

		<div class="row">
            <div class="col-4"> 
                <p>Title: {{ post.item_name }} </p>
                <p>Description: {{ post.item_desc }}</p>
                <p>Amount: {{ post.amount }}</p>
                <p>Published Date {{ post.pub_date }}</p>
            </div>
			<div class="col-4">
				<img src="{{ post.img.url }}" class= "card-img-bottom" alt = "{{ post.item_name}}"/>
            </div>
        </div>
        <div class="row">
            {% for o in offered_item %}
            <div class="col-4"> 
                <p>Title: {{ o.item_name }} </p>
                <p>Description: {{ o.item_desc }}</p>
                <p>Amount: {{ o.amount }}</p>
                <p>Published Date {{ o.pub_date }}</p>
            </div>
			<div class="col-4">
				<img src="{{ o.img.url }}" class= "card-img-bottom" alt = "{{ o.item_name}}"/>
            </div>
            {% endfor %}
        </div>
        </div>

    {% endif %}
    {% if offer %}
        
    {% endif %}
{% endblock %}