{% extends 'layout.html' %}

{% block content %}
	<div style="margin-top:40px; margin-left:30px;">
		<h1> User Details </h1>
		> Username: {{ user.username }}
		<br>
		> Email:	{{ user.email}}
		<br>
		> First Name: {{ user.first_name}}
		<br>
		> Last Name: {{ user.last_name}}
		<br>
		{% if user.profile.partner %}
		> Current Partner: {{user.profile.partner.username}}
		{% else %}
		> Current Partner: No Current Partner
		{% endif %}
	</div>
	<br>
	<div class="container">
		<h2> Request to add partner: </h2>
		<form method="post">
		{% csrf_token %}
		{% for f in form %}
		<div class="form-group">
		{{ f.label_tag }}
		{{ f }}
		</div>
		{% endfor %}
		<br>
		<button type="submit">Send request</button>
		</form>
	</div>
{% endblock %}