{% extends 'layout.html' %}

{% block content %}
	<div class="container">
		<br>
		<h1> User Details </h1>
		> Username: {{ user.username }}
		<br>
		> Email:	{{ user.email}}
		<br>
		> First Name: {{ user.first_name}}
		<br>
		> Last Name: {{ user.last_name}}
		<br>
		{% if user.profile.partner %}
		> Current Partner: {{user.profile.partner.username}}
		{% else %}
		> Current Partner: No Current Partner
		{% if pend %}
		(Pending: {{pend.email}})
		{% endif %}
		{% endif %}
	</div>
	<br>
	{% if user.profile.partner %}
	<br><br><br>
	<div class="container">
		<h2> Request to remove partner: </h2>
		<form method="post">
			{% csrf_token %}
			<p>Enter your username to verify if you are sure:</p>
			{% for f in removeform %}
			<div class="form-group">
				{{ f }}
			</div>
			{% endfor %}
			<br>
			<button type="submit" name="submit_remove">Remove Partner</button>
		</form>
	</div>
	{% else %}
	<div class="container">
		<h2> Request to add partner: </h2>
		<form method="post">
		{% csrf_token %}
		{% for f in form %}
		<div class="form-group">
		{{ f.label_tag }}
		{{ f }}
		</div>
		{% endfor %}
		<br>
		<button type="submit" name="submit_add">Send request</button>
		</form>
	</div>
	{% endif %}
{% endblock %}