{% extends 'layout.html' %}

{%block content %}
    <div style="margin-left: 10%; margin-right: 10%; margin-top: 5%; background-color: gray; text-align:center;">
    <h1> Register an account: </h1>
        <br>
	<form action="/users/register" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group" style="margin-bottom: 20px; display: flex; flex-direction: column; align-items: center; text-align: center;">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}		
        <button type="submit" style="width: 10%; padding:12px;">Submit</button>
    </form>
	</div>
{% endblock %}
