<!DOCTYPE html>
<html>
<head>    
    <style>
        body {
            margin: 0px;
            padding: 0px;
            background-color: black;
            color: whitesmoke;
        }
        a {
            text-decoration: none;
            color: whitesmoke;
        }
        
    </style>
</head>

<body>
    <div style="background-color:darkgoldenrod; width: 100%; padding: 25px;">
    <table style="margin-left: auto; margin-right: auto; width: 50%; text-align: center;">
        <tr>
            <td>
                <a href="/admin/">Admin</a>
            </td>
            <td>
                <a href="/listings/">Listings</a>
            </td>
            <td>
                <a href="/users/register">Sign Up</a>
            </td>
            <td>
                <a href="/users/login">Log In</a>
            </td>
            <td>
                Logged in as {{ user.username }}
            </td>
        </tr>
    </table>
    </div>

    
    {% block content %}
    {% endblock %}

</body>
</html>