<!DOCTYPE html>
<html>
<head>    
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        body {
            margin: 0px;
            padding: 0px;
            background-color: black;
            color: whitesmoke;
        }
        a {
            text-decoration: none;
            color: whitesmoke;
        }
        a:hover {
            color:black;
        }
        
    </style>
</head>

<body>
    <div style="background-color:darkgoldenrod; width: 100%; padding: 25px;">
	{% if user.is_authenticated %}
		<table style="margin-left: auto; margin-right: auto; width: 75%; text-align: center;">
			<tr>
				{% if user.is_superuser %}
				<td>
					<a href="/admin/">Admin</a>
				</td>
				{% endif %}
				<td>
					<a href="/listings/">Listings</a>
				</td>
				<td>
					<a href="/listings/mylistings">My Listings</a>
				</td>
				<td>
					<a href="/users/profile">Profile</a>
				</td>
				<td>
					<a href="/users/logout">Log Out</a>
				</td>
				<td>
					Logged in as {{ user.username }}
				</td>
			</tr>
		</table>
	{% else %}
		<table style="margin-left: auto; margin-right: auto; width: 33%; text-align: center;">
			<td>
				<a href="/listings/">Listings</a>
			</td>
			<td>
				<a href="/users/register">Sign Up</a>
			</td>
			<td>
				<a href="/users/login">Log In</a>
			</td>
		</table>
	{% endif %}
	</div>

    
    {% block content %}
    {% endblock %}

</body>
</html>